.background{
    background: url(img/ford_mach-e/white_model.png);
    background-size: cover;
    background-position: left;
}
.button-zone-center{
    top:90%;
}

.upper{
    background: url(img/ford_mach-e/show.png);
    background-size: cover;
    background-position: center bottom;
}
.upper.interior{
    background: url(img/ford_mach-e/interior3.png);
    background-size: cover;
    background-position:  right;
}

.specs-image{
    background: url(img/ford_mach-e/specs.png);
    background-position: center;
    background-repeat: no-repeat;
}

@media(max-width: 1025px) and (min-width: 768px){
    .upper{
        background: url(img/ford_mach-e/show-mobile.png);
        background-size: cover;
        background-position: center bottom;
    }
    .upper.interior{
        background: url(img/ford_mach-e/interior-mobile.png);
        background-size: cover;
        background-position: center;
    }
    .background{
        background: url(img/ford_mach-e/front-mobile.png);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    #landing .button{
        color: white;
        border-color: white;    
    }
    #landing .button:hover{
        color: black;
        background: white;
    }
}




@media(max-width: 766px){
    .upper{
        background: url(img/ford_mach-e/show-mobile.png);
        background-size: cover;
        background-position: center bottom;
    }
    .background{
        background: url(img/ford_mach-e/front-mobile.png);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .upper.interior{
        background: url(img/ford_mach-e/interior-mobile.png);
        background-size: cover;
        background-position: center;
    }
    #landing .button{
        color: white;
        border-color: white;    
    }
    #landing .button:hover{
        color: black;
    }  
    .car-model h2{
        font-size: 2rem;
    }
    .button-zone-center{
        top:90%;
    }
}