/* ==================================       SLIDER        ========================= */

.top-promo{
    position: relative;
    height: calc(100vh - 50px);
    display: flex;
    background: #13293D;
}
.top-promo .slider{
    flex: 100%;
    display: flex;
}
.top-promo .slider .slide-one{
    flex:100%;
    display: none;
    background: url(img/home/model-s-slider.jpg);
    background-size: cover;
    background-position: center ;
}
.top-promo .slider .slide-two{
    flex:100%;
    display: none;
    background: url(img/home/e-tron-slider.png);
    background-size: cover;
    background-position: center;
}
.top-promo .slider .slide-three{
    flex:100%;
    display: none;
    background: url(img/home/mx-30-slider.jpg);
    background-size: cover;
    background-position: center;
}
.top-promo .slider .slide-one.slide-active{
    display: block;
}
.top-promo .slider .slide-two.slide-active{
    display: block;
}
.top-promo .slider .slide-three.slide-active{
    display: block;
}
.top-promo .content{
    position: relative;
    width: 50%;
    color: white;
    top: calc(100vh - 270px);
    left: 15%;
}
.content h2{
    display: inline-block;
    font-size: 3em;
    font-weight: lighter;
    line-height: 40px;
    padding-right: 10px;
}
.content h2.highlight{
    font-weight: bold;
}
.content p{
    font-size: 1.3em;
}
.content a{
    position: absolute;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    color: black;
    background: white;
    opacity: 0.8;
    display: inline-flex;
    justify-content: center;
    line-height: 40px;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    transition: 1s ease;
}
.content a:hover{
    background: white;
    font-size: 1.15em;
    opacity: 1;
}
.top-promo .button-left{
    position: absolute;
    background: url(img/home/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 50px;
    top:40vh;
    left:7%;
    cursor: pointer;
    opacity: 0.6;
    transition: 1s ease;
}
.top-promo .button-left.unclickable{
    cursor: default;
}
.top-promo .button-left:hover{
    opacity: 1;
    transform: translateX(-5px);
}
@keyframes button-right-animation{
    0%{}
    7%{ transform: translateX(5px);}
    14%{ transform: translateX(-8px);}
    21%{ transform: translateX(5px);}
    28%{ transform: translateX(-3px);}
    35%{ transform: translateX(1px);}
    100%{}
}
.top-promo .button-right{
    position: absolute;
    background: url(img/home/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 50px;
    top:40vh;
    right:7%;
    cursor: pointer;
    opacity: 0.6;
    transition: 1s ease;
    animation: button-right-animation 7s infinite ease-in-out;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
.top-promo .button-right.unclickable{
    cursor: default;
}
.top-promo .button-right:hover{
    opacity: 1;
    /* transform: translateX(5px); */
}
@keyframes fade{
    from{ opacity: 1;}
    to{ opacity: 0.4;}
}
@keyframes fade-in{
    from{ opacity: 0;}
    to{ opacity: 1;}
}
.top-promo .fade-out{
    animation: fade 2s ease;
    animation-fill-mode: forwards;
}
.top-promo .fade-in{
    animation: fade-in 2s ease;
    animation-fill-mode: forwards;
}
.top-promo .current-slide{
    position: absolute;
    background: url(img/home/current-slide.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 4%;
    height: 10px;
    top: calc(100vh - 80px);
    opacity: 0.6;
}
.top-promo a.current-slide.one{
    left: 45%;
}
.top-promo a.current-slide.two{
    left: 50%;
}
.top-promo a.current-slide.three{
    left: 55%;
}
.top-promo a.current-slide.one.active{
    opacity: 1;
}
.top-promo a.current-slide.two.active{
    opacity: 1;
}
.top-promo a.current-slide.three.active{
    opacity: 1;
}

/* ==================================     END  SLIDER        ========================= */

/* ==================================       DE-CE       ========================= */
.de-ce{ 
    height: 50vh;
    display: flex;
}
.de-ce .content{
    color: #13293D;
    flex: 1;
    /* height: inherit; */
    align-self: center;
    text-align: center;
    padding: 0 20%;
    flex-direction: column;
}
.de-ce .content h2{
    height: 50%;
    align-self: center;
    padding: 0 0 10% 0;
    
}
.de-ce .content p{
    height: 50%;
    text-align: justify;
    font-size: 1.1em;
}
/* ==================================     END  DE-CE       ========================= */



/* ==================================       MOTIVE       ========================= */
.two-col{
    flex: 50%;
}
.three-col{
    flex: 33%;
}
.images{
    height: 75vh;
    display: flex;
}
.images .image-content{
    display: flex;
    flex-direction: column;
}
.images .image-content .image-zone{
    flex: 2;
    display: flex;
    overflow: hidden;
}
.images .image-content .text-promo{
    flex: 1;
}

.image-zone a{
    flex: 1;
    transition: 3s ease;
}
.image-zone a.image-one-link{
    background: url(img/home/charging2.jpg);
    background-position: center;
    background-size: cover;
}

.image-zone a.image-two-link{
    background: url(img/home/engine4-r.jpg);
    background-position: center top;
    background-size: cover;
}

.image-zone a.image-three-link{
    background: url(img/home/costuri-mici-r.jpg);
    background-position: center;
    background-size: cover;
}

.image-zone a.image-four-link{
    background: url(img/home/low-cost.jpg);
    background-position: center;
    background-size: cover;
}

.image-zone a.image-five-link{
    background: url(img/home/subventii.png);
    background-position: center;
    background-size: cover;
}
.image-zone a:hover{
    transform: scale(1.1);
}

.text-promo {
    color: #13293D;
    display: flex;
    flex-direction: column;
}
.text-promo h3{
    flex:45%;
    align-self: center;
    padding-top: 5%;
}
.text-promo p{
    font-size: 0.9em;
    flex: 55%;
    padding: 0 8%;
    text-align: justify;
}
.three-col .text-promo p{
    padding: 0 5%;
}
/* ==================================      END MOTIVE       ========================= */
hr{
    margin: 13.5vh 20%;
    border-color: rgba(0, 0, 0, 0);
}

/* ==================================   Audi offer       ========================= */

.audi-deal{
    height: auto;
    position: relative;
    display: flex;
   
}
.audi-deal video{
    flex: 1;
    width: 100%;
}

.audi-deal div.content{
    position: absolute;
    height: 100%;
    color:white;
    text-align: center;
    width: 100%;
}
.audi-deal div.content a{
    position: relative;
}
.audi-deal div.content h2{
    padding: 10% 10px;
    font-size: 3.5em;
    height: 50%;
    line-height: 50px;
}

.audi-deal div.content h2.electrified{
    /* text-shadow: 0 0 10px rgba(23, 190, 187, 1); */
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #17BEBB,
    0 0 80px #17BEBB,
    0 0 90px #17BEBB,
    0 0 100px #17BEBB,
    0 0 150px #17BEBB;
}
.audi-deal div.content h3{
    font-size: 1.8em;
    font-weight: normal;
}
.audi-deal div.content p{
    font-size: 1.3em;
}
.audi-deal .mobile-image{
    position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    background: url(img/home/etron-6.jpg);
    background-position: center;
    background-size: cover;
    display: none;
}
.audi-deal div.cover{
    position: absolute;
    size: inherit;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
@keyframes audi-deal-hover-over-effect{
    from{opacity: 0;}
    to{opacity: 0.8;}
}
@keyframes audi-deal-hover-over-effect-reverse{
    from{opacity: 0.8;}
    to{opacity: 0;}
}
.audi-deal div.cover.hover-effect-reverse{
    display: block;
    animation: audi-deal-hover-over-effect-reverse 1s ease;
    animation-fill-mode: forwards;
}
.audi-deal div.cover.hover{
    display: block;
    animation: audi-deal-hover-over-effect 1s ease;
    animation-fill-mode: forwards;
}






/* ==================================   END   Audi offer       ========================= */

/* ==================================   Deals       ========================= */
.deals{
    height: 50vh;
    display: flex;
}
.deal{
    display: flex;
    position: relative;
}
.deal-image{
    flex:1;
}
.deal-image-one{
    background: url(img/home/dacia-electrica.jpg);
    background-position: center;
    background-size: cover;
}
.deal-image-two{
    background: url(img/home/mach-e.png);
    background-position: center;
    background-size: cover;
}
.deal-image-three{
    background: url(img/home/kona.jpg);
    background-position: center;
    background-size: cover;
}
.deal-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
}
.deal-content .deal-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background: rgba(0, 0, 0, 0.8); */
}
.deal-content .deal-text h4{
    flex: 60%;
    align-self: center;
    color: white;
    line-height: 50vh;
    font-size: 2rem;
}
.deal-content .deal-text a{
    flex: 40%;
    align-self: center;
}
.deal-content .deal-text a.deal-button{
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    color: black;
    background: white;
    opacity: 0.8;
    display: inline-flex;
    justify-content: center;
    line-height: 40px;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    left: calc( (33vw/2) - 70px);
    top: calc((50vh/2) + 20%);
    transition: 1s ease;
}
.deal-content .deal-text a.deal-button:hover{
    background: white;
    font-size: 1.15em;
    opacity: 1;
}

.deal .cover{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}
.deal .cover.hover{
    display:block;
    animation: audi-deal-hover-over-effect 1s ease forwards;
}
.deal .cover.hover-reverse{
    display:block;
    animation: audi-deal-hover-over-effect-reverse 1s ease forwards;
}
.deal-content.hover{
    display:block;
    animation: audi-deal-hover-over-effect 1s ease forwards;
}
.deal-content.hover-reverse{
    display:block;
    animation: audi-deal-hover-over-effect-reverse 1s ease forwards;
}

/* ==================================   END   Deals       ========================= */






/* TABLET */

@media(max-width: 1025px) and (min-width: 768px){
    /* ==================================     MOTIVE       ========================= */
    .images.three-cl{
        flex-direction: column;
        height: 250vh;
    }
    .image-zone a.image-two-link{
        background-position: left top;
    }
    .image-zone a.image-three-link{
        background-position: bottom center;
    }
    .image-zone a.image-five-link{
        background-position: bottom center;
    }
    .images.three-cl .text-promo p{
        padding: 0 20%;
    }
    /* ==================================    END   MOTIVE       ========================= */

    /* ==================================     Audi offer       ========================= */

    .audi-deal{
        height: 50vh;
    }
    .audi-deal video{
        display: none;
    }
    .audi-deal .mobile-image{
        display: block;
    }
    .audi-deal div.content h3{
        display: none;
    }
    .audi-deal div.content p{
        padding: 0 5%;
    }

    /* ==================================   END   Audi offer       ========================= */
    /* ==================================     Deals       ========================= */
    .deals{
        height: 150vh;
        flex-direction: column;
    }
    .deal-content.mobile{
        display: block;
    }
    .deal-content.mobile .deal-text a.deal-button{
        left: calc( (100vw/2) - 70px);
    }


    /* ==================================   END   Deals       ========================= */

}




/* MOBILE */
@media(max-width: 766px){

    /* ==================================       SLIDER        ========================= */
    .top-promo .button-right{
        transform: scale(0.5);
        animation: none;
        right: 1%;
        opacity: 0.8;
    }
    .top-promo .button-left{
        transform: scale(0.5);
        left:1%;
        opacity: 0.8;
    }
    .top-promo .button-left:hover{
        transform: scale(0.5);
    }
    .top-promo .content{
        top: 10%;
        left: 20%;
    }
    .top-promo .content a{
        opacity: 1;
        top: 60vh;
    }
    /* ==================================     END  SLIDER        ========================= */


    /* ==================================       DE-CE       ========================= */
    .de-ce{
        height: 100vh;
    }
    .de-ce .content{
        padding: 0 5%;
    }
    .de-ce .content p{
        text-align: center;
    }


    /* ==================================     END  DE-CE       ========================= */



    /* ==================================       MOTIVE       ========================= */

    .images{
        flex-direction: column;
    }
    .images.two-cl{
        height: 150vh;
    }
    .images.three-cl{
        height: 225vh;
    }
    .images.three-cl .text-promo p{
        padding: 0 5;
    }
    .image-zone a.image-three-link{
        background-position: bottom center;
    }
    .image-zone a.image-five-link{
        background-position: bottom center;
    }


    /* ==================================    END   MOTIVE       ========================= */
    /* ==================================     Audi offer       ========================= */

    .audi-deal{
        height: 100vh;
    }
    .audi-deal video{
        display: none;
    }
    .audi-deal .mobile-image{
        display: block;
    }
    .audi-deal div.content h3{
        display: none;
        padding: 20% 0;
    }
    .audi-deal div.content h2{
        padding: 50% 10px;
    }
    .audi-deal div.content p{
        padding: 0 5%;
    }
    /* ==================================   END   Audi offer       ========================= */
    


    /* ==================================     Deals       ========================= */
    .deals{
        height: 150vh;
        flex-direction: column;
    }
    .deal-content.mobile{
        display: block;
    }
    .deal-content.mobile .deal-text a.deal-button{
        left: calc( (100vw/2) - 70px);
    }


    /* ==================================   END   Deals       ========================= */
}
