
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    background:#EBEBEB;
    min-width: 320px;
    /* max-width: 100vw; */
    max-width: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}
/* functie pt dezactivarea animatiilor atunci cand se incarca pagina. Se vor dezactiva cu un script JS care va sterge clasa
la 10ms dupa ce pagina s-a incarcat. Scriptul JS trebuie particularizat pentru elementele dorite. */
.notransition {
    animation: none !important;
    transition: none !important;
}

/* ==================================       NAVBAR        ========================= */

header{
    display: flex;
    height: 50px;
    background: #13293D;
    padding: 0 10%;
}
header .logo{
    flex:1;
    display: flex;
}
header nav{
    flex:1;   
}
.logo a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 1.1em;
    font-weight: bold;
}
.logo .logo-img{
    width: 75px;
    height: 50px;
    background: url(img/home/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.menu-toggle{
    position: absolute;
    color: white;
    line-height: 50px;
    display: none;
    font-size: 1.3em;
    /* right: 10%; */
    right: 20px;
    cursor: pointer;
}
header nav ul{
    list-style: none;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
}
header nav ul li{
    display: flex;
    display: inline block;
}
header nav ul li a{
    text-decoration: none;
    color:white;
    line-height: 50px;
    flex: 1;
    padding: 0 10px;
}
header nav ul li a:hover,
header nav ul li a.active{
    background: #17BEBB;
}

/* ==================================  END  NAVBAR        ========================= */

.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-el{
    flex: 1;
}



/* ==================================  FOOTER        ========================= */
.footer{
    height: auto;
    background-color: #13293D;
    padding: 50px 10% 20px 10%;
    /* padding: 20px 10%; */
}

.footer .left-side a{
    text-decoration: none;
    color: white;
    margin: 0 0 10px 0;
    align-self: flex-start;
}
.copyright{
    color: white;
    padding-top: 30px;
    font-size: 22px;
    align-self: flex-start;
}

.footer .right-side{
    color: white;
    align-items: center;
}
.right-side p{
    padding-bottom: 20px;
}
.icons a{
    width: 48px;
    height: 48px;
    margin-left: 30px;
}
.social{
    align-items: flex-end;
    
}
.icons a:nth-child(1){
    background: url(img/home/facebook_icon64.png);
}
.icons a:nth-child(2){
    background: url(img/home/linkedin_icon64.png);
}
.icons a:nth-child(3){
    background: url(img/home/twitter_icon64.png);
}
.icons a:nth-child(4){
    background: url(img/home/instagram_icon64.png);
}
.icons a:nth-child(1), .icons a:nth-child(2),.icons a:nth-child(3),.icons a:nth-child(4){
    background-size: cover;
    background-position: center;
}



/* .footer{
    height: 30vh;
    background: #13293D;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: calc(100vh * 0.3 / 4);
}
.four-col{
    flex: 25%;
}
.footer .follow-us-text{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    
}
.footer .social{
    display: flex;
    justify-content: center;
    padding: 0 20%;
    align-self: stretch;
}
.footer .contact{
    display: flex;
    justify-content: center;
}
.footer .copyright{
    display: flex;
    justify-content: center;
}
.footer .social .icon{
    flex: 1;
    height: 48px;
    display: flex;
    justify-content: center;
    padding: calc(100vh * 0.3 / 4 / 2 - 24px) 0;
}
.footer .social .icon a{
    height: 48px;
    width: 48px;
}
.footer .social .icon.fb a{
    background: url(img/home/facebook_icon64.png);
    background-position: center;
    background-size: cover;  
}
.footer .social .icon.linkedin a{
    background: url(img/home/linkedin_icon64.png);
    background-position: center;
    background-size: cover;  
}
.footer .social .icon.twitter a{
    background: url(img/home/twitter_icon64.png);
    background-position: center;
    background-size: cover;  
}
.footer .social .icon.g-plus a{
    background: url(img/home/google_plus64.png);
    background-position: center;
    background-size: cover;  
}
.footer .social .icon.insta a{
    background: url(img/home/instagram_icon64.png);
    background-position: center;
    background-size: cover;  
}
.footer .social .icon.youtube a{
    background: url(img/home/youtube_icon64.png);
    background-position: center;
    background-size: cover;  
}
.footer .contact a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    width: 160px;
    margin: 0 15px;
}
.footer .contact{   
    display: flex;
    justify-content: center;
} */




/* ==================================  END  FOOTER        ========================= */

@media(max-width:1025px)
{
    /* ==================================       NAVBAR        ========================= */
    header nav.min{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    @keyframes navbar-menu-jos{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    @keyframes navbar-menu-jos-r{
        from{opacity: 1;}
        to{opacity: 0;}
    }
    header.active nav{
        flex: 1;
        display: block;
        /* background: #16324F;   */
        flex: calc(100vh - 50px);
        animation: navbar-menu-jos-r .5s ease;
        animation-fill-mode: forwards;
        
    }
    header.active.to-fade nav.to-fade{
        display: block;
        flex: calc(100vh - 50px);
        animation: navbar-menu-jos .5s ease;
        animation-fill-mode: forwards;
    }
    @keyframes navbar-jos {
        from {height: 50px; }
        /* 50% {height: 50vh; } */
        to {height: 100vh; }
    }
    @keyframes navbar-jos-r {
        from {height: 100vh; }
        /* 50% {height: 50vh; } */
        to {height: 50px; }
    }
    header.active.to-fade{
        padding: 0;
        /* height: 100vh; */
        animation: navbar-jos 1s ease-out;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        /* face ca animatia sa se opreazaca la final */
    }
    header.active{
        padding: 0;
        animation: navbar-jos-r 1s ease-out;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
    header.active .logo{
        padding-left: 10%;
        flex: 50px;
    }
    header.active{
        flex-direction: column;
    }
    header.active nav ul{
        flex-direction: column;
    }
    header.active nav ul li{
        text-align: center;
    }
    header.active nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    /* blocheaza scroll atunci cand se activeaza meniul pt mobile */
    body.locked{
        overflow-y: hidden;
    }
    
    /* ==================================   END   NAVBAR        ========================= */


    /* ==================================   FOOTER        ========================= */
    /* .footer{
        height: 50vh;
    }
    .footer .contact{
        flex-direction: column;
        line-height: normal;
        align-items: center;
    }
    .footer .social{
        padding: 0 3%;
    } */


   

    /* ==================================   END   FOOTER        ========================= */
}

@media(max-width: 768px){
    /* .footer{
        height: 40vh;
    } */

    .footer{
        flex-direction: column-reverse;
    }
    .footer .right-side{
        padding-bottom: 30px;
    }
    .footer .social{
        align-items: center;
    }
    .footer .icons a{
        margin: 0;
    }
    .footer .copyright{
        align-self: center;
    }
    .footer .link a,.copyright p{
        align-self: center;
    }
    
    
    .footer .icons{
        width: 100%;
        justify-content: space-evenly;
    }


}
