*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins"
}
body{
    margin: 0;
    padding: 0;

}

header nav ul{
    flex: 1;
    /* background: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.logo{
    flex: 1;
}
.logo a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 20px;
    color:white;
}
header{
    /* background: purple; */
    display: flex;
    height: 50px;
    background: #13293D
    /* background: blue; */
}
header nav ul li a{
    text-decoration: none;
    /* padding: 10px 50px; */
    flex: 1;
    line-height: 50px;
    padding: 0 20px;
    color:white;
}
header nav ul li a:hover,
header nav ul li a.active{
    background: #17BEBB;
}
header nav ul li{
    list-style: none;
    display: flex;
}
header{
    /* width: 80%; */
    padding: 0 100px;
}
nav{
    display: flex;
}
.images{
	position: relative;
	top:50px;
	height: 75vh;
}
.images .two-row{
	display: flex;
	flex-direction: row;
	height: inherit;
}
.images .two-row .image-content{
	flex: 1;
	display: flex;
	flex-direction: column;
	/* border-left: 1px solid black; */
}

.images .two-row .image-content .image-one{
	flex:2;
	display: flex;
	overflow: hidden;
	
}
.images .two-row .image-content .image-two{
	flex:2;
	display: flex;
	overflow: hidden;
}
.images .two-row .image-content .image-three{
	flex:2;
	display: flex;
	overflow: hidden;
}
.images .two-row .image-content .image-one a.image-one-link{
	flex:1;
	background: url(dacia-e.jpg);
	background-size: cover;
	background-position: center;
	transition:1s
	
}
.images .two-row .image-content .image-two a.image-two-link{
	flex:1;
	background: url(kona.jpg);
	background-size: cover;
	background-position: center;
	transition: 1s;
}
.images .two-row .image-content .image-three a.image-three-link{
	flex:1;
	background: url(Mach-e.png);
	background-size: cover;
	background-position: center;
	transition: 1s;
}
.images .two-row .image-content .image-three a.image-three-link:hover{
	transform: scale(1.1);
	transition: 2s;
}
.images .two-row .image-content .image-one a.image-one-link:hover{
	transform: scale(1.1);
	transition: 2s;
}
.images .two-row .image-content .image-two a.image-two-link:hover{
	transform: scale(1.1);
	transition: 2s;
}
.images .two-row .image-content .text-promo{
	flex:1;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: center;
	text-align: center;
	padding: 0 10%;
	
}
.separator{
	width: 100vw;
	height: 1px;
	background-color: black;
	position: relative;
	top:50px;
}
hr{
	position: relative;
	top:50px;
	margin: 0 20%;
	border-color: rgba(0,0,0,.2);
}

@media(max-width: 1025px)
{
	header{
		padding: 0 20px;
		
	}
	.menu-toggle{
		display: block;
	}
	header nav{
/*		display: none;*/
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #16324F;
		top: 50px;
		left: -100%;
		transition: 0.5s;
		
	}
	header nav.active{
		left: 0;
	}
	header nav ul{
		display: block;
		text-align: center;
		
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,.2)
	}
	.container .promo{
		padding: 50px 10%;
	}
	.images{
		position: relative;
		top:50px;
		height: 150vh;
	}
	.images .two-row{
		display: flex;
		flex-direction: column;
		height: inherit;
		
	}
	
}
