html{
	scroll-behavior: smooth;
	transition: 3s;
}

::-webkit-scrollbar-track{
	background: #13293D;
}
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #888;
	
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #13293D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #17BEBB;
  }
body{
	margin: 0;
	padding: 0;
/*	font-family: "sans-serif";*/
	/* font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; */
	font-family: 'Poppins', sans-serif;
	background: #f5f5f5;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #13293D;
	width: 100%;
	box-sizing: border-box;
	
}
header .logo{
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
	
}
header nav{
	float: right;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	
}
header nav ul li{
	list-style: none;
}
header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
	color:#fff;
	background: #17BEBB;
}
.menu-toggle{
	color: #fff;
	float:right;
	line-height: 50px;
	font-size: 24px;
	cursor:pointer;
	display: none;
}




.top-promo{
	position: relative;
	top:50px;
	width: 100%;
	height: calc(100vh - 50px);
	
}
.top-promo .slider{
/*	display: block;*/
	overflow:hidden;
	width: inherit;
	height: inherit;
}
.top-promo .slider .slide {
	display: none;
	height: 100vh;
}
.top-promo .slider .slide .fa-angle-left{
	color: white;
	
}
.top-promo .slider .slide .fa-angle-right{
	color: white;
	
}
.top-promo .slider .slide .content{
	padding: 0 8%;
	display: flex;
	height: 100vh;
}
.top-promo .slider .slide .content .caption{
	flex: 80%;
	
}
.top-promo .slider .slide .content a{
	flex: 10%;	
}
.top-promo .slider .slide .content a i{
	position: relative;
	top: 50%;
	left: 50%;
	
}
.top-promo .slider .slide.slide-active{
	display: block;
}
.top-promo .slider .slide.slide1{
	background: url(https://images.unsplash.com/photo-1537988489137-33d67a16f3ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
	background-size: cover;
	background-position: center;
}
.top-promo .slider .slide.slide2{
	background: url(https://images.unsplash.com/photo-1554744512-783e8dc69b10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-position: center;
}
.top-promo .slider .slide.slide3{
	background: url(https://images.unsplash.com/photo-1541447370296-7f618abc1697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1439&q=80);
	background-size: cover;
	background-position: center;
}
.top-promo .slider .slide .content .caption .positions{
	position: relative;
	top: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.top-promo .slider .slide .content .caption .positions h2{
	font-size: 40px;
	color: white;
	flex: 10%;
	margin: 0;
	
}
.top-promo .slider .slide .content .caption .positions p{
	
	font-size: 20px;
	color: white;
	margin:0;
}


.container{
	position: relative;
	top: 50px;
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: center;
}
.container .promo{
	padding: 50px 25%;
	
}
.container .text-promo{
	flex: 50%;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	text-align: justify;
	
	
}
.images{
	position: relative;
	top:50px;
	height: 75vh;
}
.images .two-row{
	display: flex;
	flex-direction: row;
	height: inherit;
}
.images .two-row .image-content{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.images .two-row .image-content .image-one{
	flex:2;
	display: flex;
	overflow: hidden;
}
.images .two-row .image-content .image-two{
	flex:2;
	display: flex;
	overflow: hidden;
}
.images .two-row .image-content .image-one a.image-one-link{
	flex:1;
	background: url(img/charging2.jpg);
	background-size: cover;
	background-position: center;
	transition:1s
}
.images .two-row .image-content .image-two a.image-two-link{
	flex:1;
	background: url(img/Engine4.jpg);
	background-size: cover;
	background-position: center;
	transition: 1s;
}
.images .two-row .image-content .image-one a.image-one-link:hover{
	transform: scale(1.1);
	transition: 2s;
}
.images .two-row .image-content .image-two a.image-two-link:hover{
	transform: scale(1.1);
	transition: 2s;
}
.images .two-row .image-content .text-promo{
	flex:1;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: center;
	text-align: center;
	padding: 0 10%;
}

@media(max-width: 1025px)
{
	header{
		padding: 0 20px;
		
	}
	.menu-toggle{
		display: block;
	}
	header nav{
/*		display: none;*/
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #16324F;
		top: 50px;
		left: -100%;
		transition: 0.5s;
		
	}
	header nav.active{
		left: 0;
	}
	header nav ul{
		display: block;
		text-align: center;
		
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,.2)
	}
	.container .promo{
		padding: 50px 10%;
	}
	.images{
		position: relative;
		top:50px;
		height: 150vh;
	}
	.images .two-row{
		display: flex;
		flex-direction: column;
		height: inherit;
		
	}
	
}
